.footer{
  position: fixed;
  bottom:-1%;
  width: 90%;
  left: 4.5%;
  right: 4.5%;
  height: 5%;
  text-align: center;
  background-color: rgba(114, 114, 114, 0.15);
  border-radius: 15px;
  margin: 0.5%;
}