@import "../../shared/shared.module.scss";
.documentFeedback {
  display: flex;
}

.writinggrid {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  margin-bottom: 20%;
  float:left;
  // gap: 5%;
  width: 95%;
}

.maincontainer p {
  margin: 0% 2.5%;
}

.writingmain {
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.writingmain::-webkit-scrollbar {
  display: none;
}

.writingdesc {
  border-bottom: #000 solid;
}

.feedbackbutton {
  border-left: forestgreen solid;
  border-bottom: forestgreen solid;
  border-top: forestgreen solid;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  padding: 5% 5% 5% 2%;
  margin: 10%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: forestgreen;
}

.feedbackbuttons {
  position: fixed;
  right: 2.5%;
  width: 5%;
}

.writingtitle {
  text-align: center;
  color: rgb(236, 203, 11);
  border-bottom: rgb(236, 203, 11) solid;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.relatedwritinggrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  border-top: rgb(236, 203, 11) solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-top: 2%;
}

.feecdbackquestions {
  height: 100%;
}

.CommentContainer{
  display: relative;
  border-left: #000 solid;
  overflow-y: hidden;
  height: 80vh;
  margin-left: 1%;
}

.AnswerArea {
height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.AnswerArea::-webkit-scrollbar {
  display: none;
}

.Answer {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  width: 100%;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

.activedropdown,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\2193';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activedropdown:after {
  content: "\2191";
}

.FeedbackArea{
  float: right;
  width: 40%;
}

