
.memberBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  bottom:5%;
  left: 5%;
  height: 70%;
  overflow: auto;
  border-right: double;
  border-left: double;

}

.memberBar li{
  margin-bottom: 5%;
}

.memberBar li a{
  padding: 5% 5%;
  text-align: center;
}

.memberBar li a img{
  max-height: 10%;
  width: 15%;
  align-self: center;
}

li a {
  display: block;
  color: #000;

  text-decoration: none;
  text-align: center;
}

li a.active {
  background-color: #989898;
  color: white;
}

li a:hover:not(.active) {
  background-color: #949393;
  color: white;
}
